<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

  <%= link_to blog.status.capitalize, toggle_status_blog_path(blog) %>
  <%= link_to "Show", blog %>
  <%= link_to "New Blog", new_blog_path %>
  <%= link_to "Delete", blog, method: :delete, data: {confirm: "Are you sure you want to delete?" } %>
</div>
