<%= form_with(model: @portfolio_item) do |f| %>
  <div class='row'>
    <div class='col-md-6'>
      <div class='p-3'>
        <%= f.label :title, style: "display: block" %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class='p-3'>
        <%= f.label :subtitle, style: "display: block" %>
        <%= f.text_field :subtitle, class: 'form-control' %>
      </div>

      <div class ='p-3'>
        <label class='btn btn-primary'>
          Upload a main image file <%= f.file_field :main_image, style: 'display:none;'%>
        </label>
      </div>

      <div class ='p-3'>
        <label class='btn btn-primary'>
          Upload a thumb image file <%= f.file_field :thumb_image, style: 'display:none;' %>
        </label>
      </div>
    </div>

    <div class='col-md-6'>
      <div class='p-3'>
        <%= f.label :body, style: "display: block" %>
        <%= f.text_area :body, class: 'form-control', rows: 13 %>
      </div>
    </div>

  <hr>

  <h2 class='mt-2'>Technologies Used</h2>
  <div>
    <%= f.fields_for :technologies do |technology_form| %>
      <%= render 'technology_fields', f: technology_form %>
    <% end %>

    <div class='px-3'>
      <%= link_to_add_association 'Add Technology', f, :technologies, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class='mt-5 col-md-3 offset-md-5'>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>