<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content=<%= @seo_keywords %>/>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <%= stylesheet_link_tag 'bootstrap/dist/css/bootstrap.min', 'data-turbo-track': 'reload' %>

    <%= javascript_include_tag 'bootstrap/dist/js/bootstrap.bundle.min', 'data-turbo-track': 'reload' %>

  </head>

  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= render "shared/application_nav" %>
      
      <main class="px-3"> <%= yield %> </main>

      <%= source_helper("application") %>

      <%= render "shared/application_footer" %>
    </div>
  </body>
</html>
