<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content=<%= @seo_keywords %>/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "blogs", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <%= render 'shared/blog_nav' %>
    <%= render 'shared/blog_header' %>

    <div class='row'>
      <div class='col-md-6 offset-md-2'>
        <%= yield %>
      </div>
      <%= render 'shared/blog_sidebar' %>
    </div>
    
    <%= render 'shared/blog_footer' %>
  </body>
</html>
